@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,200&display=swap');

@media screen and (max-width: 1048px) {
    #navbar {
      position: fixed;
    }
  }

*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}

a{text-decoration: none;color: white;}
h1{text-align: center;padding-top: 190px;font-size: 60px; color: white;}
h2{text-align: center;padding: 15px;font-size: 30px;color:rgb(201, 28, 66);font-style: italic;}
h3{text-align: center;padding-top: 70px;font-size: 35px;color: white;text-decoration: underline;font-weight: bold;}
p{color:white;}

#navbar {
    position: fixed;
    background-color: rgb(201, 28, 66);
    box-shadow: 0 0 2px 0 black;
    font-size: 20px;
    padding: 25px;
    width: 100%;
}

#navbar ul{padding-left: 65%;}

#navbar li{list-style: none;display: inline;}

#navbar li a{padding: 25px;}
#navbar li a:hover{background-color:#45567d;}

#welcome-section {
    padding-top: 0px;
    margin-top: 0px;
    display: block;
    height: 100vh;
    background: rgb(63, 63, 63);
    background: linear-gradient(to right, rgb(63, 63, 63) , rgb(12, 12, 9));
}

#projects {
    background-color:#45567d;
    height: 900px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 950px;
    padding-top: 50px;
}

figure{padding:5px;}
img{max-width: 400px; box-shadow: 1px 0 0 0 black;}
figcaption{background-color: #303841;color: white;font-weight:600; text-align: center;padding:10px;position: relative;top:-4px;}

.code {
    transition: color 0.4s ease-out;
  }
  
figure:hover .code{color:#ff7f50;}

#contact{background-color: #303841;text-align: center;height: 400px;}

.contact1{padding-top: 80px;font-size: 70px;font-weight: 600;}
.contact2{font-style: oblique;font-size: 20px}
.socialmedia{margin-top: 50px;}

footer{background-color: #303841;border-top: rgb(201, 28, 66) solid;text-align: center;}

.rodape{color: rgba(245, 245, 245, 0.925);text-align: center;padding-top: 20px;padding-bottom: 20px;}